<div class="container">
  <h1>Your cart</h1>
  <div class="grid-list">
    <h1 *ngIf="cartItems.length == 0">
      There are no items in your cart right now.
    </h1>
    <div *ngFor="let item of cartItems" class="item">
      <img
        class="item-image"
        [src]="'assets/' + item.image_url"
        alt="{{ item.name }}"
      />
      <div class="information">
        <p class="item-name">{{ item.name }}</p>
        <p class="item-price">{{ item.price * item.quantity }}$(USD)</p>
        <div class="input-div">
          <label>Quantity:</label>
          <mat-form-field class="input-field">
            <input
              min="1"
              max="10"
              class="item-quantity"
              matInput
              type="number"
              [formControl]="quantity"
            />
          </mat-form-field>
          <button
            class="update-button"
            mat-raised-button
            color="primary"
            (click)="updateItemQuantity(item)"
          >
            Set
          </button>
        </div>
        <button mat-raised-button class="remove-btn" (click)="removeItem(item)">
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
