<div class="container">
  <h1>Your cart</h1>
  <div class="grid-list">
    <div *ngFor="let item of cartItems" class="item">
      <img
        class="item-image"
        [src]="'assets/' + item.image_url"
        alt="{{ item.name }}"
      />
      <div class="information">
        <p class="item-name">{{ item.name }}</p>
        <p class="item-price">{{ item.price }}$(USD)</p>
        <p class="item-quantity">Quantity:{{ item.quantity }}</p>
        <button>Remove</button>
      </div>
    </div>
  </div>
</div>
