<div class="container">
  <h1>Register</h1>
  <div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label for="username">Username</mat-label>
        <input
          matInput
          type="text"
          name="username"
          id="username"
          autocomplete="off"
          formControlName="username"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label for="email">Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          id="email"
          autocomplete="off"
          formControlName="email"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          id="password"
          autocomplete="off"
          formControlName="password"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label for="password">Confirm password</mat-label>
        <input
          matInput
          type="password"
          name="passwordConfirm"
          id="passwordConfirm"
          autocomplete="off"
          formControlName="passwordConfirm"
        />
      </mat-form-field>
      <div class="button-container">
        <a class="already-registered-button" (click)="alreadyRegistered()">
          Already have an account?
        </a>
        <button mat-raised-button class="custom-button" type="submit">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
