.container {
  height: 100%;
  .hero {
    text-align: end;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 40%;
    p {
      font-family: Georgia, "Times New Roman", Times, serif;
      margin: 0;
      padding: 1.5rem;
      color: whitesmoke;
      text-shadow: 5px 3px black;
    }
  }
}
