<header>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          ><mat-icon>home</mat-icon> Home</a
        >
      </li>
      <li>
        <a
          routerLink="/decorations"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          ><mat-icon>reorder</mat-icon> Decorations</a
        >
      </li>
      <li *ngIf="currentUser">
        <a
          routerLink="/best-selling"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          ><mat-icon>favorite</mat-icon> Best selling</a
        >
      </li>
      <li *ngIf="currentUser">
        <a
          routerLink="/cart"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          ><mat-icon>shopping_cart</mat-icon> Cart</a
        >
      </li>
      <li *ngIf="!currentUser">
        <a
          routerLink="/login"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          ><mat-icon>apps</mat-icon> Login</a
        >
      </li>
      <li *ngIf="currentUser">
        <a routerLink="/login" (click)="logout()"
          ><mat-icon>arrow_right_alt</mat-icon> Logout</a
        >
      </li>
      <li *ngIf="!currentUser">
        <a
          routerLink="/register"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          ><mat-icon>person_add</mat-icon> Register</a
        >
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
