<header>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/decorations"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          >Decorations</a
        >
      </li>
      <li *ngIf="currentUser">
        <a
          routerLink="/best-selling"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          >Best selling</a
        >
      </li>
      <li *ngIf="currentUser">
        <a
          routerLink="/cart"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          >Cart</a
        >
      </li>
      <li *ngIf="!currentUser">
        <a
          routerLink="/login"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          >Login</a
        >
      </li>
      <li *ngIf="currentUser">
        <a routerLink="/login" (click)="logout()">Logout</a>
      </li>
      <li *ngIf="!currentUser">
        <a
          routerLink="/register"
          routerLinkActive="activeButton"
          ariaCurrentWhenActive="page"
          >Register</a
        >
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
