header {
    nav {
        background-color: black;
        ul {
            display: flex;
            padding: 2rem;
            margin: 0;
            justify-content: center;
            gap: 4rem;

            a {
                color: whitesmoke;
                text-decoration: none;
                padding: 0.5rem;
                font-size: 1.5rem;
                opacity: 1;
                transition: opacity 300ms;

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}
