h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-style: oblique;
  color: whitesmoke;
  font-size: 4rem;
  line-break: normal;
  text-shadow: 3px 3px black;
  margin-bottom: 10rem;
}
