.container {
  padding: 5rem;
  text-align: center;
  background-color: rgba(226, 223, 223, 0.95);
  padding: 2rem;
  text-align: center;
  width: 35rem;
  margin-bottom: 20%;
  border-radius: 7%;
  box-shadow: 5px 15px 10px rgb(29, 29, 29);

  h1 {
    font-size: 2rem;
  }
  mat-form-field {
    width: 50%;
  }

  .button-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    button {
      padding: 1.3rem;
    }
  }
}
